<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculator App</title>
  </head>
  <body>
    <a href="/">Calculator</a>
    <a href="history">Previous Results</a>
    <%= yield %>
  </body>
</html>
